d-article div.sourceCode pre {
  overflow-x: scroll !important;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-left: 0;
}

.distill-site-nav {
  color: #ffffff;
  font-weight: 400;
  background: #24292e;
  border-bottom: 2px solid #DECF40;
  -webkit-box-shadow: 1px 1px 18px #4d4d4d;
  -moz-box-shadow: 1px 1px 18px #4d4d4d;
  box-shadow: 1px 1px 18px #4d4d4d;
}

.distill-site-nav a:hover {
  color: white;
  font-weight: 700;
}

d-title {
  background: #575757;
  color: white;
}

.distill-site-footer {
  border-top: 2px solid #DECF40;
  border-bottom: 0;
}
